body {

}
#titulo {
    background: gray;
    color: aqua;
    text-align: center;
    font-variant: small-caps;
    padding: 80px;
    margin: none;
    text-decoration: underline;
    font-size: 80px;
}
a {
    text-align: center;
    padding: 4px;
    color: white;
    background: black;
    font-variant: small-caps;
    font-size: 50px;
}
