body {

}
#titulo {
    background: black;
    color: aqua;
    text-align: center;
    font-variant: small-caps;
    padding: none;
    margin: none;
    text-decoration: underline;
    font-size: 25px;
}
a {
    text-align: center;
    padding: 40;
    color: white;
    background: black;
    font-size: 30px;
    font-variant: small-caps;
}
